body {
	background-color: #000 !important;
}
#menu {
	display: none;
}
.back-welcome {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: url("img/back.jpg") no-repeat;
}
.mesto {
	position: absolute;
	top: 15px;
	left: 15px;
}
.company-logo {
	width: 80%;
	border: 0px;
}
.alig-rig {
	text-align: right;
}
.w-200 {
	width: 200px !important;
}