body {
	background-color: #000 !important;
}
#menu {
	display: none;
}
.mesto {
	position: absolute;
	top: 15px;
	left: 15px;
}
.company-logo {
	width: 80%;
	border: 0px;
}
.alig-rig {
	text-align: right;
}
.w-200 {
	width: 200px;
}